# Merge of Commercial Appraisals extracts

In [1]:
import pandas as pd
import numpy as np

## Import of Parcel info from Mainframe CAPP1

In [2]:
capp_com_df = pd.read_csv('CAPP1_commercial_GUID.csv')

In [3]:
capp_com_df.head()

,CAPP_GUID,CAPP_PARCEL_NBR,CAPP_POST_KEY,CAPP_POST_USERID
0,{AEADB19B-15B8-4691-B840-A71F9B1A6584},1.015060e+12,4/7/2021 8:55,H8585
1,{A6A0F7A0-EB68-416D-B5A7-9FD40352E6A0},3.129470e+12,6/7/2023 17:17,A6057
2,{A79117CF-D8B1-4256-8FEB-1AA8AD98990E},1.015060e+12,4/18/2023 11:41,H8585
3,{A9C719C7-FA41-48E9-B350-87C39D5FC5FD},2.342113e+11,7/27/2023 16:57,A6057
4,{A7E6D153-A8EA-4DC9-A99F-8E0EC615E774},1.852681e+11,3/22/2024 8:05,I3532

### Clean headers, and parcel number

In [4]:
capp_com_df.columns = capp_com_df.columns.str.lower()

In [10]:
capp_com_df['parcel_nbr_int'] = capp_com_df['capp_parcel_nbr'].astype(int)

In [11]:
capp_com_df.head()

,capp_guid,capp_parcel_nbr,capp_post_key,capp_post_userid,parcel_nbr,parcel_nbr_int
0,{AEADB19B-15B8-4691-B840-A71F9B1A6584},1.015060e+12,4/7/2021 8:55,H8585,1015060000000,1015060000000
1,{A6A0F7A0-EB68-416D-B5A7-9FD40352E6A0},3.129470e+12,6/7/2023 17:17,A6057,3129470000000,3129470000000
2,{A79117CF-D8B1-4256-8FEB-1AA8AD98990E},1.015060e+12,4/18/2023 11:41,H8585,1015060000000,1015060000000
3,{A9C719C7-FA41-48E9-B350-87C39D5FC5FD},2.342113e+11,7/27/2023 16:57,A6057,234211330000,234211330000
4,{A7E6D153-A8EA-4DC9-A99F-8E0EC615E774},1.852681e+11,3/22/2024 8:05,I3532,185268080000,185268080000

In [12]:
capp_com_df['parcel_nbr_clean'] = capp_com_df['parcel_nbr_int'].astype(str).apply(lambda x: '0' + x if len(x) == 12 else x)

In [14]:
capp_com_df.head()

,capp_guid,capp_parcel_nbr,capp_post_key,capp_post_userid,parcel_nbr,parcel_nbr_int,parcel_nbr_clean
0,{AEADB19B-15B8-4691-B840-A71F9B1A6584},1.015060e+12,4/7/2021 8:55,H8585,1015060000000,1015060000000,1015060000000
1,{A6A0F7A0-EB68-416D-B5A7-9FD40352E6A0},3.129470e+12,6/7/2023 17:17,A6057,3129470000000,3129470000000,3129470000000
2,{A79117CF-D8B1-4256-8FEB-1AA8AD98990E},1.015060e+12,4/18/2023 11:41,H8585,1015060000000,1015060000000,1015060000000
3,{A9C719C7-FA41-48E9-B350-87C39D5FC5FD},2.342113e+11,7/27/2023 16:57,A6057,234211330000,234211330000,0234211330000
4,{A7E6D153-A8EA-4DC9-A99F-8E0EC615E774},1.852681e+11,3/22/2024 8:05,I3532,185268080000,185268080000,0185268080000

## Import data from Mainframe query of all related GUID

In [15]:
capi_com_df = pd.read_csv('CAPI1_commercial_GUID.csv')

In [16]:
capi_com_df.columns = capi_com_df.columns.str.lower()

In [17]:
capi_com_df.head()

,capi_guid,capi_document_date,capi_barcode_userid,capi_form_id,capi_event_date,capi_appraiser_nbr,capi_note,capi_f_entrydate,capi_scan_date,capi_operator,capi_committed_flag,capi_post_key,capi_post_userid
0,{ACE0847C-F40F-4C5C-BCF1-F14755BFF072},12/31/2023,NaN,NP0830,12/31/2023,733,NaN,3/22/2024 9:02:14 AM,3/22/2024,I3532,N,3/22/2024 9:02:14 AM,I3532
1,{AEADB19B-15B8-4691-B840-A71F9B1A6584},1/1/2021,NaN,NP0830,1/1/2021,672,NaN,4/7/2021 8:55:55 AM,4/7/2021,H8585,N,4/7/2021 8:55:55 AM,H8585
2,{A0822673-C201-42DF-973C-AE7AC92A388C},12/31/2023,NaN,NP0830,12/31/2023,733,NaN,3/22/2024 9:17:08 AM,3/22/2024,I3532,N,3/22/2024 9:17:08 AM,I3532
3,{A2827103-1628-4AC6-A984-D8DC3559B10D},12/31/2023,NaN,NP0830,12/31/2023,705,NaN,3/28/2024 3:45:37 PM,3/28/2024,I3532,N,3/28/2024 3:45:37 PM,I3532
4,{A4890BA5-BE56-4647-93AD-735E03D371FC},10/11/2023,NaN,NP0830,10/11/2023,679,NaN,3/28/2024 7:35:14 AM,3/28/2024,I3532,N,3/28/2024 7:35:14 AM,I3532

In [18]:
capi_com_df.loc[:,'event_date'] = pd.to_datetime(capi_com_df['capi_event_date'])

In [20]:
capi_com_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   capi_guid            297 non-null    object
 1   capi_document_date   297 non-null    object
 2   capi_barcode_userid  0 non-null      float64
 3   capi_form_id         297 non-null    object
 4   capi_event_date      297 non-null    object
 5   capi_appraiser_nbr   297 non-null    int64
 6   capi_note            72 non-null     object
 7   capi_f_entrydate     297 non-null    object
 8   capi_scan_date       297 non-null    object
 9   capi_operator        297 non-null    object
 10  capi_committed_flag  297 non-null    object
 11  capi_post_key        297 non-null    object
 12  capi_post_userid     297 non-null    object
 13  event_date           297 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 32.6+ KB

## Merge CAPP df with CAPI on GUID

In [21]:
merged_com_df = pd.merge(capp_com_df, capi_com_df, left_on='capp_guid', right_on='capi_guid', how='outer')

In [23]:
merged_com_df.head()

,capp_guid,capp_parcel_nbr,capp_post_key,capp_post_userid,parcel_nbr,parcel_nbr_int,parcel_nbr_clean,capi_guid,capi_document_date,capi_barcode_userid,...,capi_event_date,capi_appraiser_nbr,capi_note,capi_f_entrydate,capi_scan_date,capi_operator,capi_committed_flag,capi_post_key,capi_post_userid,event_date
0,{00B66DAB-4B5D-46DE-80C2-7D9CAD19BE7C},1.015060e+12,3/22/2024 16:25,I3532,1015060000000,1015060000000,1015060000000,{00B66DAB-4B5D-46DE-80C2-7D9CAD19BE7C},12/31/2022,NaN,...,12/31/2022,735.0,NaN,3/22/2024 4:25:41 PM,3/22/2024,I3532,N,3/22/2024 4:25:41 PM,I3532,2022-12-31
1,{02A9516F-CC43-4F77-A7A2-E7D13782361A},1.015060e+12,3/22/2024 16:24,I3532,1015060000000,1015060000000,1015060000000,{02A9516F-CC43-4F77-A7A2-E7D13782361A},12/31/2022,NaN,...,12/31/2022,735.0,NaN,3/22/2024 4:24:49 PM,3/22/2024,I3532,N,3/22/2024 4:24:49 PM,I3532,2022-12-31
2,{042E38D5-3BDC-44BA-9CB7-AE64A9201C5F},2.512031e+11,8/8/2022 11:58,H8585,251203090000,251203090000,0251203090000,{042E38D5-3BDC-44BA-9CB7-AE64A9201C5F},11/12/2021,NaN,...,11/12/2021,594.0,NaN,8/8/2022 11:58:04 AM,8/8/2022,H8585,N,8/8/2022 11:58:04 AM,H8585,2021-11-12
3,{0434AACE-4A34-4650-B93F-B0538746C17F},6.016012e+11,3/22/2024 8:49,I3532,601601230000,601601230000,0601601230000,{0434AACE-4A34-4650-B93F-B0538746C17F},12/31/2023,NaN,...,12/31/2023,733.0,NaN,3/22/2024 8:49:17 AM,3/22/2024,I3532,N,3/22/2024 8:49:17 AM,I3532,2023-12-31
4,{046F0BA1-8BF7-495B-A533-32D8DD311BD0},6.014122e+11,4/2/2024 7:58,I3532,601412230000,601412230000,0601412230000,{046F0BA1-8BF7-495B-A533-32D8DD311BD0},10/10/2023,NaN,...,10/10/2023,733.0,NaN,4/2/2024 7:58:50 AM,4/2/2024,I3532,N,4/2/2024 7:58:50 AM,I3532,2023-10-10

## Get only relevant columns and do any additional cleaning

In [24]:
mainframe_df = merged_com_df[['capp_guid','parcel_nbr_clean','event_date']]

In [37]:
mainframe_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   capp_guid         301 non-null    object
 1   parcel_nbr_clean  301 non-null    object
 2   event_date        300 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 7.2+ KB

## Import the Images to be Deleted list from Dawn Solis

In [27]:
dawn_com_df = pd.read_csv('image_list_commercial_dawn.csv')

In [28]:
dawn_com_df.head()

         parcel_nbr  event_date event_date2 other_note
0  0253-251-01-0000    2/4/2020         NaN        NaN
1  0459-341-62-0000  12/30/2023         NaN        NaN
2  0257-101-33-0000  10/19/2023         NaN        NaN
3  0459-681-09-0000  12/30/2023         NaN        NaN
4  3129-471-04-0000  12/30/2023         NaN        NaN

### Clean Parcel number and convert date to datetime

In [29]:
dawn_com_df['parcel_nbr_clean'] = dawn_com_df['parcel_nbr'].str.replace('-','')

In [30]:
dawn_com_df['event_date'] = pd.to_datetime(dawn_com_df['event_date'])

In [42]:
dawn_com_df['event_date2'] = pd.to_datetime(dawn_com_df['event_date2'])

In [43]:
dawn_com_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   parcel_nbr        190 non-null    object
 1   event_date        190 non-null    datetime64[ns]
 2   event_date2       6 non-null      datetime64[ns]
 3   other_note        21 non-null     object
 4   parcel_nbr_clean  190 non-null    object
dtypes: datetime64[ns](2), object(3)
memory usage: 7.9+ KB

## Finally: Merge the Mainframe table with Dawn's table on Parcel # and Event Date

In [50]:
dawn_com_merged_df = pd.merge(dawn_com_df, mainframe_df, on=['parcel_nbr_clean', 'event_date'], how='inner')

In [51]:
dawn_com_merged_df

,parcel_nbr,event_date,event_date2,other_note,parcel_nbr_clean,capp_guid
0,0253-251-01-0000,2020-02-04,NaT,NaN,0253251010000,{C22F4583-F0E6-4354-9332-F3F8E76E902B}
1,0459-341-62-0000,2023-12-30,NaT,NaN,0459341620000,{C9A34E20-A5FE-463E-8F36-4182747A62B0}
2,0257-101-33-0000,2023-10-19,NaT,NaN,0257101330000,{3C7A438C-736D-4877-8899-72C39497446B}
3,0459-681-09-0000,2023-12-30,NaT,NaN,0459681090000,{CE9B95D0-C67E-4423-A6A8-A6A73493758E}
4,0164-161-34-0000,2023-12-30,NaT,NaN,0164161340000,{667D843D-918F-40B7-AF7E-224E06BFE6E7}
...,...,...,...,...,...,...
157,0238-111-33-0000,2020-12-16,NaT,6,0238111330000,{6C446246-FF3D-425E-89F7-67001340ED2A}
158,0238-111-33-0000,2020-12-16,NaT,6,0238111330000,{869632A4-F618-454C-8203-E2B7D3A4569A}
159,0238-111-33-0000,2020-12-16,NaT,6,0238111330000,{F1DF8A36-3176-4DDA-A44B-1EEC57E4DFBD}
160,0238-111-33-0000,2020-12-16,NaT,6,0238111330000,{F253A9F2-0791-443D-AA5C-10F5BC3548BF}
161,0238-111-33-0000,2020-12-16,NaT,6,0238111330000,{F9CEC398-ABED-4203-8CDC-C160A3E923E0}

In [52]:
dawn_com_merged_df2 = pd.merge(dawn_com_df, mainframe_df, left_on=['parcel_nbr_clean', 'event_date2'], right_on=['parcel_nbr_clean', 'event_date'],how='inner')

In [53]:
dawn_com_merged_df2

,parcel_nbr,event_date_x,event_date2,other_note,parcel_nbr_clean,capp_guid,event_date_y
0,0269-061-47-0000,2023-08-22,2023-08-16,NaN,0269061470000,{5CD617E8-4B6E-4AE1-A79D-C33C776EAE19},2023-08-16
1,0473-384-05-0000,2023-08-29,2023-08-30,NaN,0473384050000,{0986BF36-3C81-437E-B774-2DA473F311D2},2023-08-30
2,0455-052-23-0000,2022-12-31,2023-12-31,NaN,0455052230000,{1C309C47-93D2-40C2-AEC5-68D784D5B7DE},2023-12-31
3,0473-363-01-0000,2022-12-31,2023-12-31,NaN,0473363010000,{6F626B6C-B68D-4715-885F-856E4CCED2C2},2023-12-31

In [54]:
final_merged_df = pd.concat([dawn_com_merged_df, dawn_com_merged_df2])

In [55]:
final_merged_df

,parcel_nbr,event_date,event_date2,other_note,parcel_nbr_clean,capp_guid,event_date_x,event_date_y
0,0253-251-01-0000,2020-02-04,NaT,NaN,0253251010000,{C22F4583-F0E6-4354-9332-F3F8E76E902B},NaT,NaT
1,0459-341-62-0000,2023-12-30,NaT,NaN,0459341620000,{C9A34E20-A5FE-463E-8F36-4182747A62B0},NaT,NaT
2,0257-101-33-0000,2023-10-19,NaT,NaN,0257101330000,{3C7A438C-736D-4877-8899-72C39497446B},NaT,NaT
3,0459-681-09-0000,2023-12-30,NaT,NaN,0459681090000,{CE9B95D0-C67E-4423-A6A8-A6A73493758E},NaT,NaT
4,0164-161-34-0000,2023-12-30,NaT,NaN,0164161340000,{667D843D-918F-40B7-AF7E-224E06BFE6E7},NaT,NaT
...,...,...,...,...,...,...,...,...
161,0238-111-33-0000,2020-12-16,NaT,6,0238111330000,{F9CEC398-ABED-4203-8CDC-C160A3E923E0},NaT,NaT
0,0269-061-47-0000,NaT,2023-08-16,NaN,0269061470000,{5CD617E8-4B6E-4AE1-A79D-C33C776EAE19},2023-08-22,2023-08-16
1,0473-384-05-0000,NaT,2023-08-30,NaN,0473384050000,{0986BF36-3C81-437E-B774-2DA473F311D2},2023-08-29,2023-08-30
2,0455-052-23-0000,NaT,2023-12-31,NaN,0455052230000,{1C309C47-93D2-40C2-AEC5-68D784D5B7DE},2022-12-31,2023-12-31
3,0473-363-01-0000,NaT,2023-12-31,NaN,0473363010000,{6F626B6C-B68D-4715-885F-856E4CCED2C2},2022-12-31,2023-12-31

## Output the results to share

In [56]:
final_merged_df.to_csv('steves_findings_guid_list.csv', index=False)